.with-border {
    border: 1px solid black;
}

.admonition, .topic {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 15px !important;
}

.admonition-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-weight: bold !important;
    font-size: 17px !important;
}